<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fielder.Fody" version="1.1.1" targetFramework="net461" developmentDependency="true" />
  <package id="FluentValidation" version="6.4.1" targetFramework="net461" />
  <package id="Fody" version="2.0.5" targetFramework="net461" developmentDependency="true" />
  <package id="NUnit" version="3.6.1" targetFramework="net461" />
  <package id="PropertyChanged.Fody" version="1.53.0" targetFramework="net461" developmentDependency="true" />
  <package id="Validar.Fody" version="1.5.0" targetFramework="net461" developmentDependency="true" />
</packages>