<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentValidation" version="4.0.0.0" targetFramework="net45" />
  <package id="Fody" version="1.13.6.1" targetFramework="net45" />
  <package id="NUnit" version="2.6.2" targetFramework="net40" />
  <package id="PropertyChanged.Fody" version="1.36.2.3" targetFramework="net45" />
  <package id="Validar.Fody" version="1.1.1.1" targetFramework="net45" />
</packages>