<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentValidation" version="3.4.6.0" targetFramework="net40" />
  <package id="NUnit" version="2.6.2" targetFramework="net40" />
  <package id="PropertyChanged.Fody" version="1.35.0.0" targetFramework="net40" />
  <package id="Validar.Fody" version="0.10.0.0" targetFramework="net40" />
</packages>