<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Anotar.NServiceBus.Fody" version="2.20.0" targetFramework="net45" developmentDependency="true" />
  <package id="Fody" version="1.29.3" targetFramework="net45" developmentDependency="true" />
  <package id="ModuleInit.Fody" version="1.5.8.0" targetFramework="net45" developmentDependency="true" />
  <package id="NServiceBus" version="5.2.12" targetFramework="net45" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
</packages>