<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EmptyStringGuard.Fody" version="1.1.0" targetFramework="net45" developmentDependency="true" />
  <package id="Fody" version="2.0.5" targetFramework="net461" developmentDependency="true" />
  <package id="NUnit" version="3.6.1" targetFramework="net461" />
</packages>