<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Anotar.CommonLogging.Fody" version="2.15.1" targetFramework="net45" developmentDependency="true" />
  <package id="Common.Logging" version="3.0.0" targetFramework="net45" />
  <package id="Common.Logging.Core" version="3.0.0" targetFramework="net45" />
  <package id="Fody" version="1.26.4" targetFramework="net45" developmentDependency="true" />
  <package id="ModuleInit.Fody" version="1.5.6.0" targetFramework="net45" developmentDependency="true" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
</packages>