<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fody" version="1.29.4" targetFramework="net40" developmentDependency="true" requireReinstallation="true" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="NUnit" version="3.6.1" targetFramework="net461" />
  <package id="Tracer.Fody" version="1.2.4" targetFramework="net461" developmentDependency="true" />
  <package id="Tracer.Log4Net.Fody" version="1.2.2" targetFramework="net40" />
</packages>