<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caseless.Fody" version="0.3.0.0" />
  <package id="Catel.Fody" version="0.1.0.0" />
  <package id="ExtraConstraints.Fody" version="0.5.0.0" />
  <package id="Fielder.Fody" version="0.7.0.0" />
  <package id="MethodDecorator.Fody" version="0.7.0.0" />
  <package id="MethodTimer.Fody" version="0.1.0.0" />
  <package id="ModuleInit.Fody" version="0.7.0.0" />
  <package id="Publicize.Fody" version="0.9.0.0" />
  <package id="Validar.Fody" version="0.6.0.0" />
  <package id="Virtuosity.Fody" version="1.13.0.0" />
</packages>