<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fody" version="1.26.2" targetFramework="net45" developmentDependency="true" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net45" />
  <package id="Ninject.Fody" version="1.0.0" targetFramework="net45" />
  <package id="NUnit" version="2.6.3" targetFramework="net45" />
</packages>