<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fody" version="1.26.2" targetFramework="net45" developmentDependency="true" />
  <package id="NUnit" version="2.6.3" targetFramework="net45" />
  <package id="StaticProxy.Fody" version="0.2.0" targetFramework="net45" developmentDependency="true" />
  <package id="StaticProxy.Interceptor" version="0.2.1" targetFramework="net45" />
  <package id="Unity" version="3.5.1404.0" targetFramework="net45" />
  <package id="Unity.StaticProxy" version="0.1.0" targetFramework="net45" />
</packages>